doctype html
html(lang="es")
 head
   include ../head.pug
 include ../menu.pug
 .general
   .spamprincipal
     include ../ads.pug
   h1=title
   .general
     .spamleft
       include ../ads.pug
     .contenido
       include contadorcontent.pug
     .spamright
       include ../ads.pug
 include ../scripts/scriptcontadorpalabras.pug