p#total Cantidad de palabras: 0
textarea#input.textareainput(onkeyup='onchangeFunction(this)' placeholder='Agrega aca el texto que quieres contar')
 | En general, las diferentes posturas reconocen que la pobreza se identifica con nociones tales como la de privaci&oacute;n, de ausencia, de carencia, y constituye un concepto descriptivo m&aacute;s que explicativo