p#segundo Diferencia en segundos: 0
p#minuto Diferencia en minutos: 0
p#hora Diferencia en horas: 0
p#dia Diferencia en días: 0

p#semana Diferencia en semana: 0
p#mes Diferencia en meses: 0
p#ano Diferencia en años: 0
p#decada Diferencia en décadas: 0
p#siglo Diferencia en siglos: 0

label#fecha1label Agrega la fecha más antigua.
input#fecha1.textareainput( type="date" onchange='diferenciaFechas()' placeholder='Agrega la fecha más antigua.' value="2022-01-01")

label#fecha2label Agrega la fecha más resiente.
input#fecha2.textareainput( type="date" onchange='diferenciaFechas()' placeholder='Agrega la fecha más resiente.' value="2023-01-01")